h3 {
  margin: 0;
  margin-top: 6px;
}

.textareaWrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
}

textarea {
  flex: 1;

  margin: 0 10px 0 10px;

  resize: none;
}

.config {
  position: relative;
}

.config pre {
  display: inline-block;
}

pre {
  margin: 0;
}

a, a:visited {
  color: blue;
}

.mapRow div,a {
  display: inline-block;
  width: 22px;
  text-align: right;
}

.backToTop {
  position: absolute;
  right: 50px;
  bottom: 10px;
}